// Typography
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Base Font
$font-family: 'Montserrat', sans-serif;
$font-family-heading: $font-family;

$font-weight: normal;
$font-size: 1.6rem;
$line-height: 1.4;

$font-color: #222;

// Font Extender

%base-style {
  font: $font-weight #{$font-size}/#{$line-height} $font-family;
  color: $font-color;
}

%heading-style {
  font-family: $font-family-heading;
  font-weight: 700;
}
