// Typography
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Base Font
$font-family: 'Montserrat', sans-serif;
$font-family-heading: $font-family;

$font-weight: 400;
$font-size: 1.6rem;
$line-height: 1.75;
$letter-spacing: -0.2px;

$font-color: $almost-black-4;

// Font Extender
%base-style {
  font: $font-weight #{$font-size}/#{$line-height} $font-family;
  letter-spacing: $letter-spacing;
  color: $font-color;
}

%heading-style {
  font-family: $font-family-heading;
  font-weight: 700;
  color: $almost-black;
}
