@import "../modules/mixins";
// Typography

// Base Font
$font-family: 'Montserrat', sans-serif;
$font-family-heading: $font-family;

$font-weight: 400;
$font-size: 1.6rem;
$line-height: 1.75;
$letter-spacing: -0.2px;

$font-color: $almost-black-4;

// Font Extender
%base-style {
  font: $font-weight #{$font-size}/#{$line-height} $font-family;
  letter-spacing: $letter-spacing;
  color: $font-color;
}

%heading-style {
  font-family: $font-family-heading;
  font-weight: 800;
  color: $almost-black;
}

// Heading styles
h1, h2 ,h3, h4, h5, h6, label {
  @extend %heading-style;
}

h1, .heading-01 {
  font-size: 4.4rem;
  line-height: 1.14;
  letter-spacing: -1.8px;
}

h2, .heading-02 {
  font-size: 2.8rem;
  letter-spacing: -0.9px;
}

@include desktop {
  h1, .heading-01 {
    font-size: 7.2rem;
    line-height: 1.03;
    letter-spacing: -3.2px;
  }

  h2, .heading-02 {
    font-size: 5.8rem;
    letter-spacing: -1.6px;
  }
}
