// Base styling
body {
  @extend %base-style;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.6rem;
}

// Viewport classes
.sw-mobile-only {
  display: block;
}

.sw-desktop-only {
  display: none;
}

@include desktop {
  p {
    line-height: 2;
  }

  .sw-mobile-only {
    display: none;
  }

  .sw-desktop-only {
    display: block;
  }
}