// Base styling
body {
  @extend %base-style;
}

// Viewport classes
.sw-mobile-only {
  display: block;
}

.sw-desktop-only {
  display: none;
}

@include desktop {
  .sw-mobile-only {
    display: none;
  }

  .sw-desktop-only {
    display: block;
  }
}