// Header SCSS
.sw-header {
  display: flex;
  align-items: center;
  padding: 0 2.4rem;
  height: 6.4rem;
  background-color: $white;
  box-shadow: 0 4px 8px -2px rgba(4, 8, 37, 0.04);

  &-logo {
    width: 2.4rem;
    height: 2.4rem;

    .icon {
      width: 100%;
    }
  }
}

@include desktop {
  .sw-header {
    height: 9.6rem;
    padding: 0 6.4rem;

    &-logo {
      width: 100%;
      max-width: 18.4rem;
      height: auto;
      max-height: 3.2rem;
    }
  }
}
