// Accordion SCSS
.sw-accordion {
  width: 100%;
  border-top: 1px solid $almost-black-6;

  &-item {
    background-color: $white;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .sw-title-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 24px;
      border-bottom: 1px solid $almost-black-6;

      .sw-title {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: -0.2px;
        color: $almost-black;

        a {
          display: block;
          text-decoration: none;
          color: inherit;
        }
      }
    }

    .sw-content-wrapper {
      overflow: hidden;
      height: 0;
      border-bottom: 1px solid $almost-black-6;
      transition: height .3s ease-out;

      .sw-content {
        padding: 24px;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.2px;
        color: $almost-black-4;

        &:not(:first-of-type) {
          border-top: 1px solid $almost-black-6;
        }

        a {
          text-decoration: none;
          color: $almost-black-4;
        }
      }
    }
  }
}
